.search {
  width: 1280px;
  background-color: darkblue;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 6px;
}

.form {
  position: relative;
}

.input {
  border-radius: 4px;
  width: 272px;
  height: 38px;
  padding: 0;
  outline: none;
  border: 1px solid #808080;
  padding-left: 16px;
}

.input:focus-within {
  border: none;
}

.btn {
}
